{% extends "base.html" %}

{% block content %}
    <div class="ui main container">
        <h1>Programs</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet ipsum bibendum lacus posuere mattis non et augue.</p>
        <form id='searchform' action='/' method='get'>
            <div class="ui fluid action input">
                <input type="text" name='name' placeholder="Search..." value="{{ request.GET.name }}">
                <button type='submit' class="ui primary button">Search</button>
            </div>
            <br />
        </form>
        <a href='?now_showing=true' class='ui button'>Now Showing</a>
        <a href='?date={% now "Y-m-d" %}' class='ui button'>Today</a>
        <a href='?date={% now "Y-m-" %}{% now "d" as day %}{{ day|add:"1" }}' class='ui button'>Tomorrow</a>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Program</th>
                    <th>Channel</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                {% for program in programs %}
                    <tr>
                        <td data-label="Program">
                            <a href='/?name={{ program.movie_name }}'>{{ program.movie_name }}</a>
                            {% if program.now_showing %}
                                <span class="ui mini red tag label">now showing</span></td>
                            {% endif %}
                        <td data-label="Channel"><a href='/?channel={{ program.channel_name }}'>{{ program.channel_name }}</a></td>
                        <td data-label="Date"><a href='/?date={{ program.iso_date }}'>{{ program.date }}</a></td>
                        <td data-label="Start Time">{{ program.start_time }}</td>
                        <td data-label="End Time">{{ program.end_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% include "_pagination.html" %}
    </div>
{% endblock %}
