{% if is_paginated %}
  <div class="ui basic buttons">
    {% if page_obj.has_previous %}
      <a class="ui button" href='?page={{ page_obj.previous_page_number }}'>&laquo;</a>
    {% else %}
      <a class="ui button disabled" href='#'>&laquo;</a>
    {% endif %}
    {% for page_number in paginator.page_range %}
      {% if page_obj.number == page_number %}
        <a class="ui active button" href='?page={{ page_number }}'>{{ page_number }}</a>
      {% else %}
        <a class="ui button" href='?page={{ page_number }}'>{{ page_number }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a class="ui button" href='?page={{ page_obj.next_page_number }}'>&raquo;</a>
    {% else %}
      <a class="ui button disabled" href='#'>&raquo;</a>
    {% endif %}
  </div>
{% endif %}
